# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/app_client/dist
/app_client/tmp
/app_client/out-tsc
/app_server/dist
/app_server/tmp

# dependencies
/app_client/node_modules
/app_server/node_modules

# IDEs and editors
/app_client/.idea
/app_server/.idea
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.njsproj
*.njsproj.user

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
