<div class="row">
  <div class="col-3">
    <div class="pull-right">
      <label for="first_name">Starting Year</label>
    </div>
  </div>
  <div class="col-9">
    <fieldset class="form-group">
      <input type="text" class="form-control" id="starting_year" name="starting_year">
    </fieldset>
  </div>
</div>

<div class="row">
  <div class="col-3">
    <div class="pull-right">
      <label for="first_name">Starting Year</label>
    </div>
  </div>
  <div class="col-9">
    <fieldset class="form-group">
      <input type="text" class="form-control" id="starting_year" name="starting_year">
    </fieldset>
  </div>
</div>

<div class="row">
  <div class="col-3">
    <div class="pull-right">
      <label for="first_name">Starting Year</label>
    </div>
  </div>
  <div class="col-9">
    <fieldset class="form-group">
      <input type="text" class="form-control" id="starting_year" name="starting_year">
    </fieldset>
  </div>
</div>

<div class="row">
  <div class="col-3">
    <div class="pull-right">
      <label for="first_name">Starting Year</label>
    </div>
  </div>
  <div class="col-9">
    <fieldset class="form-group">
      <input type="text" class="form-control" id="starting_year" name="starting_year">
    </fieldset>
  </div>
</div>

<div class="row">
  <div class="col-3">
    <div class="pull-right">
      <label for="first_name">Starting Year</label>
    </div>
  </div>
  <div class="col-9">
    <fieldset class="form-group">
      <input type="text" class="form-control" id="starting_year" name="starting_year">
    </fieldset>
  </div>
</div>

<div class="row">
  <div class="col-3">
    <div class="pull-right">
      <label for="first_name">Starting Year</label>
    </div>
  </div>
  <div class="col-9">
    <fieldset class="form-group">
      <input type="text" class="form-control" id="starting_year" name="starting_year">
    </fieldset>
  </div>
</div>